.git
.github
.stfolder
node_modules
dist
build
out
coverage
playwright-report
test-results
temp
tmp

*.log
*.zip
*.rar
*.7z
*.tar
*.gz
*.tgz

.env
.env.*
.stignore
.stignore_sync
.sync-conflict-*.stignore_sync
